body{
    background-color: #061820;
    color: #cfcfcf;
    font-family: Arial, sans-serif;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
}

a {
    color: #cfcfcf;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
}

#buscador {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #222b79;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #242434;
    color: white;
    
}

select {
    background-color: #242434;
    color: #cfcfcf;
    border: 1px solid #555;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
select:hover {
    background-color: #42425f;
}
select:focus {
    outline: none;
    border-color: #777;
}