.title{
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.actions{
    display: flex;
    gap:0.5rem;
    align-items: center;
    flex-direction: column;
}

.details{
    color: cadetblue;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
}